{% extends "base.html" %}
{% load recommended %}
{% block script %}
<script>
	$(document).ready(function(){
		
		loadTweetContainer("tweet-container")
		alert(object.profile.get_following.count);
		});
</script>
{% endblock script %}

{% block content %}
	
				<div class='row'>
					<div class=' col-sm-3 col-xs-12' style='background-color:white;'>
						<h1>{{ request.user }}</h1>
						
						
						
						
						 <div class="ProfileCardStats" style="height: 100px; margin-top: 10px">
    <ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal"><li class="ProfileCardStats-stat Arrange-sizeFit">
        <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip"
            title="3 Tweets"
            
            data-element-term="tweet_stats">
          <span class="ProfileCardStats-statLabel u-block">Tweet</span>
          <span class="ProfileCardStats-statValue" >4{{ object.profile.get_following.count}}</span>
          <!-- console.log("following count"+ {{object.followed_by.all.count}}) -->

        </a>
      </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip"
              title="69 Following"
              data-element-term="following_stats">
            <span class="ProfileCardStats-statLabel u-block">Following</span>
            <span class="ProfileCardStats-statValue" data-count= data-is-compact="false">3</span>
          </a>
        </li><li class="ProfileCardStats-stat Arrange-sizeFit">
          <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip"
              title="14 Followers"
              
              data-element-term="follower_stats">
            <span class="ProfileCardStats-statLabel u-block">Followers</span>
            <span class="ProfileCardStats-statValue" data-count= data-is-compact="false">4</span>
          </a>
        </li>
    </ul>
  </div>
  <div>
						<p class="sapce" style="background-color: black">
							<div style="background-color: black; height: 20px; margin-left: 900px; margin-top:-100px;" ><p class="lead" style="width: 150px; background-color: steelblue; color: white; font-size: 15px;">Who to Follow</p>
							</div>
							<div style="margin-left: 900px; margin-top:15px; background-color: black">{% recommended request.user%}</div>
							
							
						</p>
					</div>
  
					</div>
					
					<div class='col-sm-9'>
						{% if not request.GET.q %}
							<div class=''>
								{% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}
							</div>
							<hr/>

						{% endif %}

						<div id='tweet-container' data-url='/api/tweet/'> 

						</div>
						<a href='#' id='loadmore'>Load More Tweets</a>

						<!-- {% include "tweets/search_form.html" %}<br/> -->
						<!-- {% for object in object_list %}
								<div class="media">
								   <div class="media-left">
								    <a href="#">
								    {% if object.image %}
								      <img class="media-object" src="..." alt="...">
								     {% endif %}
								    </a>
								   </div>
								   <div class="media-body">
								  	{{ object.content }}<br/>
								  	via {{ object.user }} | {{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}">View</a>
								   </div>
								</div>
								<hr/>
						{% empty %}
							{% if request.GET.q %}
								<p>No tweet found.</p>
							{% else %}
							 	<p>No tweet yet.</p>
							 {% endif %}
						{% endfor %} -->
				</div>
				</div>
{% endblock content %}