{% extends "base.html" %}
{% block head %}
<style>
  body{
    background-color: #ebebeb;
  }
</style>
<title> Change password</title>

{% endblock %}

{% block content%}

<div id="page-outer" >
  <div id="page-container" class="AppContent wrapper wrapper-login">

    <div class="page-canvas" style="margin-left:15px;">
<div class="row">
<div class="col-sm-6 col-sm-offset-3" style="padding-left:">
<div class="signup-wrapper" style="font-family:lato; font-style: normal;">
<h1 style="font-family:lato; font-style: normal; font-weight: bold">
  Edit profile.
</h1>
<form method="POST">
   {% csrf_token %}
   {{form.as_p }}
   <button type="submit" class="submit EdgeButton EdgeButton--primary EdgeButtom--medium">Update</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}
<!-- <form method="POST">
   {% csrf_token %}
   {{form.as_p }}
   <button type="submit">Update</button>
</form> -->






<!-- {% extends "base.html" %}
{% block head %}
<title> change password</title>

{% endblock %}

{% block body%}

<div class="container">
 <form method="POST">
 	{% csrf_token %}
 	{{form.as_p }}
 	<button type="submit">Update</button>
 </form>

</div>
{% endblock %} -->
