{% extends "base.html" %}

{% block script %}
		<script>
			$(document).ready(function(){
			loadTweetContainer("tweet-container")
		  });
        </script>
{% endblock script %}

{% block content %} 
<div class='row'>
	<div class=' col-sm-3 col-xs-12' style=" background-color: rgb(212, 210, 215)">
		 <!-- style='background-color:red;' -->
		<h1 style="margin-top: 5px">{{ object.username }}</h1> 
		<p style="margin-top: 5px"> Followers: {{object.followed_by.all.count}}</p>
		<p>
			<a class='btn btn-link' style="margin-top: 10px" href='{{ object.profile.get_follow_url }}'>{% if following %}Unfollowing{% else %}Follow{% endif %}
			</a>
		</p>
		
			  <h1 style="margin-top: 10px">Following <small>{{ object.profile.get_following.count }}</small></h1>	

			   	<!--  {{ object.profile.following}} -->
				{% for user in object.profile.get_following %}
				  <a href='/{{ user.username}}'>{{ user.username }}</a> <br/>
				  {% empty %}
				  <h4 style="margin-top: -10px"> Not following  users </h4>
			    {% endfor %}
		

		
			  <h1 style="margin-top: 10px">Followed By</h1>	
					   <!--  {{ object.profile.following}} -->
						{% for profile in object.followed_by.all %}
						 <a href='/{{ profile.user.username}}'>{{ profile.user.username }}</a>
						  <br/>
						  {% empty %}
						  <h4> Not followed by  any users </h4>
					    {% endfor %}
			

	</div>
	<div class='col-sm-9 col-xs-12'>
		<h1>Tweets</h1>
		<div id='tweet-container' data-url='/api/{{ object.username }}/tweet'>
		</div>
		<a href='#' id='loadmore'>Load More Tweets</a>

		<!-- {% for tweet in object.tweet_set.all %}
		{{ tweet }} <br/>
		{% endfor %} -->



		<!-- {{ object.content }}<br/>
		<br/>
		{{ object.timestamp|timesince }} -->
	</div>
 {% endblock content %}







