{% extends "base.html" %}
{% block script %}
<script>
    $(document).ready(function(){
        $("form input").addClass('form-control')
        });
</script>

{% endblock %}
{% block content %}
<style type="text/css">
    .page-canvas {
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%; 
    background-color: #fff;
    box-shadow: 0 0 225px rgba(255,255,255,0.5);
} 
</style>
<div>
    <div class="row">
<div class="page-canvas container">
<div class='col-sm-3 col-sm-offset-3 text-center'>
    <h1> Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<!-- Simple Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="username" name="username">
    <label class="mdl-textfield__label" for="username">username</label>
<!--     {{ form.username.label_tag }}
 -->    <!-- {{ form.username }} -->
  </div>


<!-- <div class="mdl-textfield mdl-js-textfield">
    {{ form.username.label_tag }}
    {{ form.username }}
</div> -->
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="password" id="password" name="password">
    <label class="mdl-textfield__label" for="password">password</label>
<!--     {{ form.username.label_tag }}
 -->    <!-- {{ form.username }} -->
  </div>

<!-- <div class="form-group">
    {{ form.password.label_tag }}
    {{ form.password }}
</div> -->

<!-- Accent-colored raised button with ripple -->
<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
<!-- <button type="submit" class='btn btn-default'>Login</button> -->
<input type="hidden" name="next" value="{{ next }}" />
</button>


</form>

{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
</div>
</div>
</div>

{% endblock %}