<div class="topbar js-topbar">
  <div class="ProfilePage-editingOverlay"></div>
  <div class="global-nav" data-section-term="top_nav">
      <div class="global-nav-inner">
        <div class="container">
          <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
            <span class="visuallyhidden">Twitter</span>
          </h1>

          <div class="pushstate-spinner"></div>

          <div role="navigation" style="display: inline-block;">
            <ul class="nav js-global-actions" id="global-actions">
                <li id="global-nav-home" class="home active new" data-global-action="home">
                  <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-context="home_nav" data-nav="home">
                    <span class="Icon Icon--home Icon--large"></span>
                    <span class="Icon Icon--homeFilled Icon--large u-textUserColor"></span>
                    <span class="text" aria-hidden="true">Cuckoo</span>
                    <span class="u-hiddenVisually a11y-inactive-page-text">Home</span>
                    <span class="u-hiddenVisually a11y-active-page-text">Home, current page.</span>
                    <span class="u-hiddenVisually hidden-new-items-text">New Tweets available.</span>
                  </a>
                </li>
            </ul>
          </div>

          {% if request.user.is_authenticated %}

          <div class="pull-right nav-extras">

              <div role="search">
                  <form class="t1-form form-search js-search-form" action="/search" id="global-nav-search">
                    <label class="visuallyhidden" for="search-query">Search query</label>
                    <input class="search-input" type="text" id="search-query" placeholder="Search Twitter" name="q" autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-1">

                    <span class="search-icon js-search-action">
                      <button type="submit" class="Icon Icon--medium Icon--search nav-search" tabindex="-1">
                        <span class="visuallyhidden">Search Twitter</span>
                      </button>
                    </span>


                  </form>
              </div>


              <ul class="nav right-actions">
                <li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">

                      <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                            <a href="#" style="border-radius:unset; margin-top:70px; box-shadow:unset;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ request.user.profile.get_absolute_url }}">Profile</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="{% url 'login' %}">Change password</a></li>
                            </ul>
                          </li>
                          </ul>


                </li>

                <li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
                  <a href="{% url 'logout' %}" class="js-global-new-tweet js-tooltip EdgeButton EdgeButton--primary js-dynamic-tooltip" id="global-new-tweet-button" style="margin: 5px;padding: 10px;font-size: 15px;color: white; background-color:#1da1f2" data-placement="bottom" data-component-context="new_tweet_button" data-original-title role="button">LogOut
                  </a>

                </li>

              </ul>
          </div>

          {% else %}
          <div class="pull-right nav-extras" style="margin-top:7px;">
            <ul class="nav right-actions" style="margin-top:7px;">
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
          </div>



          {% endif %}

        </div>
      </div>
  </div>
</div>
