<div class="topbar js-topbar">
  <div class="ProfilePage-editingOverlay"></div>
  <div class="global-nav" data-section-term="top_nav">
      <div class="global-nav-inner">
        <div class="container">
          <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
            <span class="visuallyhidden">Twitter</span>
          </h1>

          <div class="pushstate-spinner"></div>

          <div role="navigation" style="display: inline-block;">
            <ul class="nav js-global-actions" id="global-actions">
                <li id="global-nav-home" class="home active new" data-global-action="home">
                  <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-context="home_nav" data-nav="home">
                    <span class="Icon Icon--home Icon--large"></span>
                    <span class="Icon Icon--homeFilled Icon--large u-textUserColor"></span>
                    <span class="text" aria-hidden="true">Cuckoo</span>
                    <span class="u-hiddenVisually a11y-inactive-page-text">Home</span>
                    <span class="u-hiddenVisually a11y-active-page-text">Home, current page.</span>
                    <span class="u-hiddenVisually hidden-new-items-text">New Tweets available.</span>
                  </a>
                </li>
            </ul>
          </div>

          {% if request.user.is_authenticated %}

          <div class="pull-right nav-extras">

              <div role="search">
                  <form class="t1-form form-search js-search-form" action="/search" id="global-nav-search">
                    <label class="visuallyhidden" for="search-query">Search query</label>
                    <input class="search-input" type="text" id="search-query" placeholder="Search Twitter" name="q" autocomplete="off" spellcheck="false" aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-1">

                    <span class="search-icon js-search-action">
                      <button type="submit" class="Icon Icon--medium Icon--search nav-search" tabindex="-1">
                        <span class="visuallyhidden">Search Twitter</span>
                      </button>
                    </span>

                    <!-- <div role="listbox" class="dropdown-menu typeahead" id="typeahead-dropdown-1">
                      <div aria-hidden="true" class="dropdown-caret">
                        <div class="caret-outer"></div>
                        <div class="caret-inner"></div>
                      </div>

                      <div role="presentation" class="dropdown-inner js-typeahead-results">
                        <div role="presentation" class="typeahead-recent-searches block0">
                            <h3 id="recent-searches-heading" class="typeahead-category-title recent-searches-title">Recent searches</h3>
                            <button type="button" tabindex="-1" class="btn-link clear-recent-searches">Clear All</button>
                            <ul role="presentation" class="typeahead-items recent-searches-list">

                              <li role="presentation" class="typeahead-item typeahead-recent-search-item">
                                <span class="Icon Icon--close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
                                <a role="option" aria-describedby="recent-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="recent_search" tabindex="-1"></a>
                              </li>
                            </ul>
                        </div>

                        <div role="presentation" class="typeahead-saved-searches block2">
                          <h3 id="saved-searches-heading" class="typeahead-category-title saved-searches-title">Saved searches</h3>
                          <ul role="presentation" class="typeahead-items saved-searches-list">

                            <li role="presentation" class="typeahead-item typeahead-saved-search-item">
                              <span class="Icon Icon--close" aria-hidden="true"><span class="visuallyhidden">Remove</span></span>
                              <a role="option" aria-describedby="saved-searches-heading" class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"></a>
                            </li>
                          </ul>
                        </div>

                        <ul role="presentation" class="typeahead-items typeahead-topics block3" style="display: none;">
                          <li role="presentation" class="typeahead-item typeahead-topic-item">
                            <a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1"></a>
                          </li>
                        </ul>

                        <ul role="presentation" class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block4" style="display: none;">

                          <li role="presentation" data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">

                            <a role="option" class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
                              <div class="js-selectable typeahead-in-conversation hidden">
                                <span class="Icon Icon--follower Icon--small"></span>
                                <span class="typeahead-in-conversation-text">In this conversation</span>
                              </div>
                              <img class="avatar size32" alt="">
                              <span class="typeahead-user-item-info account-group">
                                <span class="fullname"></span><span class="UserBadges"><span class="Icon Icon--verified js-verified hidden"><span class="u-hiddenVisually">Verified account</span></span><span class="Icon Icon--protected js-protected hidden"><span class="u-hiddenVisually">Protected Tweets</span></span></span><span class="UserNameBreak">&nbsp;</span><span class="username u-dir" dir="ltr">@<b></b></span>
                              </span>
                              <span class="typeahead-social-context"></span>
                            </a>
                          </li>
                          <li role="presentation" class="js-selectable typeahead-accounts-shortcut js-shortcut"><a role="option" class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
                        </ul>
                      </div>
                    </div> -->

                  </form>
              </div>

              <ul class="nav right-actions">
                <li class="me dropdown session js-session" data-global-action="t1me" id="user-dropdown">
                      <a href="{{ request.user.profile.get_absolute_url }}" class="btn js-tooltip settings dropdown-toggle js-dropdown-toggle" id="user-dropdown-toggle" title="Profile and settings" data-placement="bottom" rel="noopener" role="button" aria-haspopup="true">
                          <img class="Avatar Avatar--size32" src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" alt="Profile and settings" data-user-id="2218875613">
                      </a>

                </li>

                <li role="complementary" aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn">
                  <a href="{% url 'logout' %}" class="js-global-new-tweet js-tooltip EdgeButton EdgeButton--primary js-dynamic-tooltip" id="global-new-tweet-button" style="margin: 5px;padding: 10px;font-size: 15px;color: white; background-color:#1da1f2" data-placement="bottom" data-component-context="new_tweet_button" data-original-title role="button">LogOut
                  </a>

                </li>

              </ul>
          </div>

          {% else %}
          <div class="pull-right nav-extras" style="margin-top:7px;">
            <ul class="nav right-actions" style="margin-top:7px;">
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
          </div>



          {% endif %}

        </div>
      </div>
  </div>
</div>
